.wrapper {
    height: calc(100vh - 100px);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comingsoon {
    color: #5bc908;
    font-weight: 100;
    margin-bottom: 100px;
}