.masterwrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 1%;
    width: 30%;
}

.headerwrapper {
    display: flex;
    border: 1px solid #2f334d;
    border-radius: 15px 15px 1px 1px;
    align-items: center;
}

.icon {
    color: #5bc908;
    margin: 5px;
}
.title {
    font-size: 16px;
    color: #5bc908;
    font-weight: 100;
}