.wrapper {
    width: 25vw;
    height: 95%;
    background-color: #24283b;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #1d1e2f;
}

.meimg {
    border-radius: 15px 15px 0px 0px;
    border: 1px solid #1d1e2f;
}

.imgwrapper {
    position: relative;
    height: 100%;
    width: 480px;
}

.content {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.greeting {
    display: inline;
    font-size: 16px;
    color: #C0CAf5;
}

.name {
    color: #5bc908;
    margin: 0;
}

.greetingbody {
    margin: 0;
    text-align: justify;
    padding: 2%;
    padding-top: 0px;
    color: #a9b1d6;
}
@media (min-height: 900px) {
    .greetingbody {
        font-size: 18px;
    }
}

@media (min-width: 1920px) {
    .greeting {
        font-size: 22px;
    }
}